<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dayone.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.example.dayone.pojo.Log">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="systemname" jdbcType="VARCHAR" property="systemname" />
    <result column="mechine" jdbcType="VARCHAR" property="mechine" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, systemname, mechine, ip, browser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dayone.pojo.Log">
    insert into log (id, systemname, mechine, 
      ip, browser)
    values (#{id,jdbcType=INTEGER}, #{systemname,jdbcType=VARCHAR}, #{mechine,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dayone.pojo.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="systemname != null">
        systemname,
      </if>
      <if test="mechine != null">
        mechine,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="browser != null">
        browser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemname != null">
        #{systemname,jdbcType=VARCHAR},
      </if>
      <if test="mechine != null">
        #{mechine,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dayone.pojo.Log">
    update log
    <set>
      <if test="systemname != null">
        systemname = #{systemname,jdbcType=VARCHAR},
      </if>
      <if test="mechine != null">
        mechine = #{mechine,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dayone.pojo.Log">
    update log
    set systemname = #{systemname,jdbcType=VARCHAR},
      mechine = #{mechine,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>