<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="webjars/jquery/3.5.1/jquery.js"></script>
</head>
<body>

<button id="delete">删除文章</button>
<button id="add">添加文章</button>
<button id="update">添加文章</button>
<button id="query">查询文章</button>


<script>
    $("#delete").click(function () {

        $.ajax({
            url:"artical/6666",
            type:"delete",
            dataType:"json",
            success:function (data) {

                console.log(data)
            }
        })
    })

    $("#update").click(function () {

        $.ajax({
            url:"artical/7852",
            type:"put",
            dataType:"json",
            success:function (data) {

                console.log(data)
            }
        })
    })


</script>
</body>
</html>